<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huangzh.storage.dao.PetsStorageMapper">
    <select id="selectByPage" resultType="com.huangzh.api.entity.PetsStorage">
        select * from pets_storage ${ew.customSqlSegment}
    </select>
</mapper>